---
import Layout from '../layouts/Layout.astro';
import { articles } from '../constants';
import MouseScroll from '../components/MouseScroll.astro';
import '../index.css';
const title = 'Welcome to Astro.';
---

<Layout title={title} client:only >
	<main class="flex items-center justify-center w-screen md:w-full h-[100dvh] bg-sky-500 bg-[url('/public/bg.jpg')] bg-cover bg-center bg-no-repeat">
		<div class="w-[calc(100vw-20px)] h-[calc(100dvh-20px)] sm:w-[300px] sm:h-[550px] xl:w-[400px] xl:h-[675px] 4xl:w-[460px] 4xl:h-[800px] bg-white" style="clip-path: inset(0 0 0 0 round 20px)">
		<section class="snap-y snap-mandatory overflow-y-auto overflow-x-hidden w-full h-full scrollbar-none ">
			<article class="relative snap-start flex flex-col h-full w-full overflow-hidden">
				<video src="/public/video.mp4" autoplay loop muted playsinline class="w-full" />
				<div class="p-4 h-full flex flex-col gap-4 absolute w-full top-0 left-0 bg-black/75 items-center justify-center">
					<img src="/public/logo_without_background.png" alt="" width="100" />
					<div class="text-white text-center bg-sky-500 px-2 py-4 rounded-xl mb-5">
					<h3 class="text-3xl font-bold">Obras de la municipalidad de Lima</h3>
					<p> <span class="italic">Rafael Lopez Aliaga </span>2022 - 2026</p>
				</div>
					<MouseScroll />
				</div>
			</article>
			{articles.map((art) => 
				<article class="relative snap-start flex flex-col h-full w-full overflow-hidden">
					<img src={art.gallery?.[0]?.url} alt="" />
					<div class="p-4 h-full flex flex-col gap-1">
						<h3 class="text-xl font-bold">{art.title}</h3>
						<p class="text-xs font-bold text-sky-600 opacity-75">📅{art.date}</p>
						<p class="text-sm opacity-75">{art.shortDescription}</p>
						<p>{art.content.substring(0,245)}{art.content.length > 245 ? '...' : ''}</p>
					</div>
				</article>)
			}
		</section>
		</div>
	</main>
</Layout>

